body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .footer {
    background-color: #73122C;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    font-size: 1.6em;
  }
  
  .footer-logo {
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 25%;
  }
  

  .footer-links {
    list-style-type: none;
    display: flex;
    font-size: x-small;
    justify-content: center;
    text-align: left;
  }
  
  .footer-links li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-social {
    clear: both;
    padding-top: 10px;
    width: 30%;
    display: flex;
  }

  .SocialIMG{
    width: 30%;
  }

  .instagram{
    font-size: x-small;
    width: 50%;
    height: 50%;
  }

  .whatsapp{
    font-size: x-small;
    width: 50%;
    height: 50%;
  }

  .YouTube{
    font-size: x-small;
    width: 50%;
    height: 50%;
  }