header{
    background-color: white;
}

body{
    background-image: url(../img/sucursales/centralBA_bw.png);
    width: auto;
    height: 49em;
}
.footerAbajo{
    margin-top: 8%;
  }


.datosPersonales{
    display: flex;
    width: 25%;
    margin: auto auto auto 7%;
    flex-direction: column;
}

.nuevoTurno{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4%;
}

.nuevoTurno a{
    display: flex;
    align-items: center;
    height: 1em;
    text-decoration: none;
    color: #0D7646;
    cursor: pointer;
}



.perfilContent{
    width: 60%;
    background-color: white;
    margin: 6% auto;
    height: 30em;
}

.tablas{
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: center;
}

.filtros{
    background-color: #D9D9D9;
    border: 1px solid black;
    height: 21em;
    border-collapse: collapse;
}

.filtros ul{
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    display: flex;
    align-items: flex-end;
    border-collapse: collapse;
}

.datos{
    background-color: #D9D9D9;
    border: 1px solid #000;
    border-collapse: collapse;
}



  
  td, th {
    border: 1px solid #000;
    padding: 9px;
    border-collapse: collapse;
  }
  

  th {
    border-bottom: 1px solid #000;
    border-collapse: collapse;
  }
  
  td:first-child, th:first-child {
    border-right: 1px solid #000;
    border-collapse: collapse;
  }


  @media only screen and (max-width: 1440px){
    .tablas {
        margin: auto;
        width: 100%;
        display: flex;
        list-style: none;
        flex-wrap: nowrap;
        justify-content: center;
        font-size: 1.3em;
    }
    .filtros {
        background-color: #D9D9D9;
        border: 1px solid black;
        height: 15em;
        border-collapse: collapse;
    }
}

  @media only screen and (max-width: 1024px){
    .tablas {
        margin: auto;
        width: 1%;
        display: flex;
        list-style: none;
        flex-wrap: nowrap;
        justify-content: center;
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 768px){

    .tablas {
        margin: auto;
        width: 1%;
        display: flex;
        list-style: none;
        flex-wrap: nowrap;
        justify-content: center;
        font-size: 0.8em;
    }

    .filtros {
        background-color: #D9D9D9;
        border: 1px solid black;
        height: 25em;
        border-collapse: collapse;
    }
}

@media only screen and (max-width: 425px){
    body{
        background-color: white;
        background-image: none;
    }
    
        .perfilContent {
            width: 100%;
            background-color: white;
            margin: 6% auto;
            height: 30em;
        }
    
        .datosPersonales {
            width: 100%;
            margin: 7% auto auto 7%;
        }
    
        .tablas {
            margin: auto;
            width: 100%;
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 0.6em;
            flex-direction: column;
            /* align-content: center; */
            /* text-align: center; */
        }
        .filtros {
            background-color: #D9D9D9;
            border: 1px solid black;
            height: 4em;
            /* width: 100%; */
            border-collapse: collapse;
        }
    
        li{
            display: flex;
        }
        
        .datos {
            text-align: center;
            height: 29em;
            background-color: #D9D9D9;
            border: 1px solid #000;
            border-collapse: collapse;
            align-items: center;
            justify-content: center;
            align-content: center;
        }    
    
    .material-symbols-outlined {
        font-size: 1.5em;
    }
    
    table{
        width: 100%;
    }
    
    }

