body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    height: 100%;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}


main{
    display: grid;
    place-items: center;
    color: #13167D;
}

main .titulo{
    font-size: 40px;
}

main .subtitulo{
    font-size: 20px;
    margin-bottom: 4rem;
}

main form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15%;
    height: 35vh;
    gap: 1rem;
    
}


main form .etiquetas{
    font-size: 20px;
}

main form .entrada{
    width: 90%;
    font-size: 1.4rem; 
}

main form .confirmacion{
    display: flex;
}

main form .confirmacion .button{
    height: 5vh;
    width: 6vw;
    cursor: pointer;
    border: none;
}

main form .confirmacion #continuar{
    background-color: #336675;
    color: white;
}

main form .confirmacion #continuar .enlace{
    text-decoration: none;
    color: white;
}

main form .confirmacion #cancelar{
    color: #0BA3CD;
    background-color: white;
}

main form .confirmacion #cancelar:hover{
    background-color: rgb(207, 200, 200);
}

footer{
    margin-top: 3rem;
    height: 191px;
    width: 100%;
}

