body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.footerAbajo{
    margin-top: 8%;
  }


input::placeholder {

    font-size: 11px;
}


main{
    display: grid;
    place-items: center;
    color: #13167D;
}



main .titulo{
    font-size: 40px;
}

main .subtitulo{
    font-size: 20px;
    margin-bottom: 4rem;
} 


.Formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 35vh;
    gap: 1rem;
}

main form{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


main form .etiquetas{
    font-size: 18px;
}



main form .confirmacion{
    display: flex;
}



main form .confirmacion .button{
    height: 5vh;
    cursor: pointer;
    border: none;
}


main form .confirmacion #continuar{
    background-color: #0D7646;
    color: white;
}

main form .confirmacion #continuar .enlace{
    text-decoration: none;
    color: white;
}

main form .confirmacion #cancelar{
    color: #0BA3CD;
    background-color: white;
}

main form .confirmacion #cancelar:hover{
    background-color: rgb(207, 200, 200);
}


main form .documento{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 90%;
    flex-direction: row;
    align-items: center;
}

main form .documento .tipo{
    display: flex;
    flex-direction: column;
}

main form .tipo{
    width: 4em;
}

.numeroDocumentoContent{
    display: flex;
    flex-direction: column;
}

main form  #tipo_documento{
    font-size: 1rem;
    height: 2.6em;
    width: 100%;
    padding: 1%
}

main form #fecha{
    width: 100%;
}

main form #sexo{
    width: 100%;
}

main form #tipo{
width: 100%;
}

main form #numero_documento{
    padding: 0.97em;
    width: 100%;
}

main form #telefono{
    width: 100%;
}

.sexoBiologicoContent{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.nacimientoContent{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.telefonoContent{
   
    text-align: center;

    width: 90%;

}

.documento{
    text-align: center;
    width: 90%;
}


footer{
    margin-top: 7rem;
    height: 200px;
    width: 100%;
}

.entrada{
    width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.nacimientoIconText{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.sexoIconText{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.telefonoIconText{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}



.nombreContent{
   
   
    text-align: center;

    width: 116%;


}

main form #nombre{
    width: 100%;
}

.apellidoContent{
   
   
    text-align: center;

    width: 116%;


}

main form #apellido{
    width: 100%;
}

.correoContent{
   
   
    text-align: center;

    width: 116%;


}

main form #correo{
    width: 100%;
}

.contraseniaContent{
   
    
    text-align: center;

    width: 116%;


}

main form #contrasenia{
    width: 100%;
}

.apellidoIconText{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.correoIconText{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.contraseniaIconText{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.nombreIconText{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

/*Eliminar los botones del input number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


@media only screen, (max-width: 1024px){
    main .subtitulo {
        font-size: 20px;
        margin-bottom: 5rem;
    }

}

@media only screen and (max-width: 425px){
.material-symbols-outlined {
    display: block;
    color: #13167D;
}
}

@media only screen, (max-width: 320px){
    h4 {
     text-align: center;
    }

}

